{
    "files": [
        "/home/manoel/forge/projeto-smt/src/contract4.sol:Vulnerable"
    ],
    "verify": "contrac4:vulnerable.spec",
    "wait_for_results": "all",
    "rule_sanity": "basic",
    "optimistic_loop": true,
    "msg": "Verification of Xphone",
    "prover_args": [
        "-optimisticFallback true"
    ]
}